@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Gloria+Hallelujah&display=swap');

body {
    color: black;
    text-align: justify;
    font-family: 'Baloo Da 2';
}

h1 {
    text-align: center;
    margin: 90px 0;
}

h2 {
    font-size: 1.5em;
    /* color: rgb(70, 70, 70); */
    color: black;
    text-align: center;
}

h3 {
    font-size: 2em;
}

a {
    text-decoration: none;
    /* color: rgb(70, 70, 70); */
    color: black;
}

p, ul {
    font-size: 20px;
}

.photo {
    border-radius: 40%;
    border-collapse: collapse;
}

/* <!-- ---------------------------------------------- --> */

#aboutme-sec {
    /* border: 3px solid red; */
    width: 450px;
    height: 450px;
    margin: 0 auto;
}

#aboutme-description {
    /* border: 3px solid red; */
    position: relative;
    width: 450px;
    left: 160px;
}

#aboutme-photo {
    /* border: 3px solid red; */
    position: relative;
    right: 190px;
    bottom: 300px;
}
li:hover {
    background-color: black;
    color: white;
}

/* <!-- ---------------------------------------------- --> */

#qualities-sec {
    /* border: 3px solid red; */
    padding: 0px;
    height: 450px;
}

#qualities-description {
    /* border: 3px solid red; */
    width: 450px;
    margin: 0 auto;
}

#qualities-list {
    /* border: 3px solid red; */
    display: table;
    margin: 0 auto;
}

/* <!-- ---------------------------------------------- --> */

#skills-sec {
    /* border: 3px solid red; */
    height: 450px;
    display: table;
    margin: 0 auto;
    padding-bottom: 0px;
}

#skills-title {
    text-align: center;
}

/* <!-- ---------------------------------------------- --> */

#contacts-sec p {
    text-align: center;
}

#contacts-title {
    text-align: center;
}


#github, #linkedin {
    display: inline-block;
    margin: 0px 30px;
}

#contacts-sec {
    display: table;
    margin: 0 auto;
}