@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Gloria+Hallelujah&display=swap');

body {
    background: white;
    color:  black;
    text-align: justify;
    font-family: 'Baloo Da 2';
}

h1 {
    text-align: center;
    margin: 90px 0;
}

h2 {
    font-size: 1.5em;
    color: rgb(70, 70, 70);
    text-align: center;
}

h3 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: rgb(70, 70, 70);;
}

p, ul {
    font-size: 20px;
}

.photo {
    border-radius: 40%;
    left: 500px;
}

/* <!-- ---------------------------------------------- --> */

#aboutme-sec {
    border: 3px solid red;
    width: 450px;
    height: 450px;
    margin: 0 auto;
}

#aboutme-description {
    /* border: 3px solid red; */
    position: relative;
    width: 450px;
    left: 160px;
}


/* <!-- ---------------------------------------------- --> */

#qualities-sec {
    border: 3px solid red;
    padding: 0px;
    height: 450px;
}

#qualities-description {
    /* border: 3px solid red; */
    width: 450px;
    margin: 0 auto;
}

#qualities-list {
    display: table;
    margin: 0 auto;
    /* border: 3px solid red; */
}

/* <!-- ---------------------------------------------- --> */

#skills-sec {
    border: 3px solid red;
    height: 450px;
    display: table;
    margin: 0 auto;
}

#skills-title {
    text-align: center;
}

